
<div class="favorite_container">
  <div class="return_button">
    <%= link_to :back do%>
      <i class="fa-solid fa-arrow-left"></i>   Retour
    <% end %>
  </div>

  <h1 class = "text-center">Mon musée personnel</h1>
    <div class = "favorite_cards">
      <% @favorites.each do | favorite | %>
        <div class="favorite_card_category">
        <%= link_to favorite_path(favorite.ark_id) do %>
          <%= image_tag favorite.ark.image_url %>
          <%= favorite.ark.name %>, <br>
          <%= favorite.ark.artist.name %>
        <% end %>
        <br>
        <%= link_to "Supprimer", favorite_path(favorite), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-outline-danger btn-sm" %>
        </div>
      <% end %>
    </div>
</div>
