
<div class="container">
  <h1 class = "text-center">Mon musée personnel</h1>
    <div class = "favorite_cards">
      <% @favorites.each do | favorite | %>
        <div class="favorite_card_category">
        <%= link_to favorite_path(favorite.ark_id) do %>
          <%= image_tag favorite.ark.image_url %>
          <%= favorite.ark.name %>, <br>
          <%= favorite.ark.artist.name %>
        <% end %>
          <%= link_to "Supprimer", favorite_path(favorite), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-link text-danger" %>
        </div>
        <% end %>
    </div>
</div>



<div class="homefooter">
  <div class="icons">
    <% if current_user.present? %>
      <%= link_to user_path(current_user) do%>
        <i class="fa-regular fa-user"></i>
      <% end %>
    <% end %>
      <%#=link_to "Retour", related_arks_ark_path %>
  </div>
</div>
