<div class="homepage">
    <div class="artday">
      <%= image_tag ark.image_url %>
    </div>
    <br>
    <div class="descrip" data-controller="collapse">
      <h2><%= ark.name %></h2>
      <div class="artist_name">
        <h5><%= ark.artist.name %></h5>
      </div>
      <a data-action="click->collapse#viewCollapse" data-bs-toggle="collapse" href="#collapseExample" role="link" aria-expanded="false" aria-controls="collapseExample">
         Voir plus...
      </a>
      <div data-collapse-target="content" class="collapse" id="collapseExample">
        <% ark.description_paragraphs.each do |paragraph| %>
          <p><%= paragraph.join %></p>
        <% end %>
      </div>
    </div>

    <div class="icons">
      <%= link_to alternative_ark_ark_path(ark), class: "dislike" do %>
        <span><i class="fas fa-heart-crack"></i></span>
      <% end %>

      <%= link_to related_arks_ark_path(ark), class: "heart" do %>
        <span><i class="fas fa-heart"></i></span>
      <% end %>

      <%= link_to ark_favorites_path(ark), data: {turbo_method: :post}, class: "addto" do %>
        <span><i class="fas fa-folder-plus"></i></span>
      <% end %>
    </div>

  </div>
