<div class="homepage">
   <div class="artday">
      <%= image_tag ark.image_url %>
    </div>
   <div class="descrip">
      <h2><%= ark.name %></h2>
    <div class="artist_name">
        <h5><%= ark.artist.name %></h5>
    </div>
       <p><%= ark.description %></p>
   </div>

    <div class="icons">
       <%= link_to alternative_ark_ark_path(ark) do %>
        <span style="color:black"><i class="fas fa-heart-crack"></i></span>
      <% end %>

      <%= form_with model: [ark, Favorite.new], data: { conroller: "favorite" } do |f|%>
        <%= button_tag(type: 'submit', class: 'btn') do %>
        <i class="fas fa-heart"><span style="font-family:Cormorant Garamond, serif"> J'adore</span></i>
        <% end %>
      <% end %>


    </div>

  </div>
