<div class="container">

  <div>
    <h1>Dans le regard de l'artiste</h1>
     <div class="artist" data-controller="caroussel">

      <% @artist_arks.first(3).each_with_index do |artist_ark, i| %>
        <input data-caroussel-target="input" type="radio" name="slider" id="input-<%= i + 1%>">
      <% end %>


      <div class="caroussel-artists">
        <% @artist_arks.first(3).each_with_index do |artist_ark, i| %>
          <label class="caroussel-artist" for="input-<%= i + 1%>" id="label-<%= i + 1 %>">
            <img src=<%= artist_ark.image_url %>>
          </label>
        <% end %>

      </div>
    </div>
  </div>
  <br>
  <div>
    <h1>Dans la même période</h1>

    <div class="contain" data-controller="caroussel">

      <% @date_arks.first(3).each_with_index do |date_ark, i| %>
        <input data-caroussel-target="input" type="radio" name="slider" id="input-<%= i + 1%>">
      <% end %>


      <div class="caroussel-cards">
        <% @date_arks.first(3).each_with_index do |date_ark, i| %>
          <label class="caroussel-card" for="input-<%= i + 1%>" id="label-<%= i + 1 %>">
            <img src=<%= date_ark.image_url %>>
          </label>
        <% end %>

      </div>
    </div>

  </div>

 <div class="homefooter">
 <div class="icons">
   <% if current_user.present? %>
     <%= link_to user_path(current_user) do%>
       <i class="fa-regular fa-user"></i>
       <% end %>
     <%= link_to favorites_path do%>
       <i class="fa-regular fa-folder"></i>
       <% end %>
     <% end %>
     <%= link_to "Meme genre", related_arks_ark_path(@ark) %>
     <%= form_with model: [@ark, Favorite.new] do |f|%>
       <%= button_tag(type: 'submit', class: 'btn') do %>
         <div class="heart">
         <i class="fas fa-heart" ></i>
       </div>
       <% end %>
     <% end %>
      </div>
   </div>

</div>
