<div class="try">
    <div class="bansky">
      <div class="jour">
          <h6>SM'ART</h6>
            <h1>L'image du jour</h1>
      </div>
        <%= image_tag @ark.image_url %>
    </div>
      <div class="heart">
        <i class="fas fa-heart"></i>
      </div>
        <div class="descrip">
          <h2><%= @ark.name %></h2>
            <h5><%= @ark.artist_id %></h5>
              <p><%= @ark.description %></p>
        </div>
     <div class="icons">
      <%= current_user %>
      <%= "----" %>
      <%= console %>
      <% if current_user.present? %>
        <%= puts hello %>
        <%= link_to "Profil", user_path(current_user) %>
        <%= link_to "Portfolio", favorite_path%>

      <% else %>
        <%= "je suis là" %>
        <%= link_to "Connexion",  new_user_registration_path %>
      <% end %>
        <i class="fa-solid fa-share-nodes"></i>

    </div>
</div>
